---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<TMDB_API_KEY>&query=godzilla
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 7a9a3300d767764798191a28795608b0
      X-Memc-Age:
      - '6717'
      X-Memc-Expires:
      - '15038'
      Etag:
      - W/"6fcbbe7f304f0b5bf52d72a8f8133069"
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/zCjZfevPFBbOh2SAx2syIBHSqEI.jpg","genre_ids":[28,18,878],"id":124905,"original_language":"en","original_title":"Godzilla","overview":"Ford
        Brody, a Navy bomb expert, has just reunited with his family in San Francisco
        when he is forced to go to Japan to help his estranged father, Joe. Soon,
        both men are swept up in an escalating crisis when an ancient alpha predator
        arises from the sea to combat malevolent adversaries that threaten the survival
        of humanity. The creatures leave colossal destruction in their wake, as they
        make their way toward their final battleground: San Francisco.","popularity":51.423,"poster_path":"/zokD6uxR2iWfYM3Y84yGJvnNTK7.jpg","release_date":"2014-05-14","title":"Godzilla","video":false,"vote_average":6.343,"vote_count":9088},{"adult":false,"backdrop_path":"/gT4XVSEmGKOJ0EgSEUTfCeqgEtc.jpg","genre_ids":[878,28,53],"id":929,"original_language":"en","original_title":"Godzilla","overview":"French
        nuclear tests irradiate an iguana into a giant monster that viciously attacks
        freighter ships in the Pacific Ocean. A team of experts, including Niko Tatopoulos,
        conclude that the oversized reptile is the culprit. Before long, the giant
        lizard is loose in Manhattan as the US military races [...]
