---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<TMDB_API_KEY>&query=bond
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 9b7b4afcc6321ae8a8fd2ee44a649d85
      X-Memc-Age:
      - '16897'
      X-Memc-Expires:
      - '8453'
      Etag:
      - W/"732528a407938e5cd26a96e6f9059f16"
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/8NEvnVKeGMLEXG45MMNqxJLcM4y.jpg","genre_ids":[16,28,14,53],"id":820232,"original_language":"ja","original_title":"鬼滅の刃
        兄妹の絆","overview":"A recap of Kimetsu no Yaiba episodes 1–5, with new footage
        and special end credits. Tanjiro Kamado returns home to find his family slaughtered
        and the lone survivor, his sister Nezuko, turned into a Demon. To his surprise,
        however, Nezuko still shows signs of human emotion and thought. Thus begins
        Tanjiro''s journey to seek out the Demon who killed their family and turn
        his sister human again.","popularity":58.934,"poster_path":"/vJUDoYNNKvBqbEPUskgvzPXGEFz.jpg","release_date":"2019-03-29","title":"Demon
        Slayer: Kimetsu no Yaiba – Sibling''s Bond","video":false,"vote_average":7.9,"vote_count":205},{"adult":false,"backdrop_path":"/8BSxCJhKfsPPWgxRFFB46ysnEgB.jpg","genre_ids":[16,14,18],"id":507411,"original_language":"ja","original_title":"劇場版
        夏目友人帳 ～うつせみに結ぶ～","overview":"The movie of  Natsume''s Book of Friends series.\r
        Natsume has been busy, navigating between humans and Yokai when he coincidentally
        reunites with an old classmate, Yuki. It brings back painful memories of a
        certain Yokai. Meanwhile, Natsume also became acquainted with Yorie Tsumura,
 [...]
