---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/discover/movie?api_key=<TMDB_API_KEY>&query=sort_by
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - f7a89dec9d4f603186ad9e2a834a72ff
      X-Memc-Age:
      - '472'
      X-Memc-Expires:
      - '27563'
      Etag:
      - W/"5e076cc2a0c09c36da0728980cdc2345"
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/tElnmtQ6yz1PjN1kePNl8yMSb59.jpg","genre_ids":[16,12,10751,35],"id":1241982,"original_language":"en","original_title":"Moana
        2","overview":"After receiving an unexpected call from her wayfinding ancestors,
        Moana journeys alongside Maui and a new crew to the far seas of Oceania and
        into dangerous, long-lost waters for an adventure unlike anything she''s ever
        faced.","popularity":5883.763,"poster_path":"/yh64qw9mgXBvlaWDi7Q9tpUBAvH.jpg","release_date":"2024-11-27","title":"Moana
        2","video":false,"vote_average":7.0,"vote_count":324},{"adult":false,"backdrop_path":"/3V4kLQg0kSqPLctI5ziYWabAZYF.jpg","genre_ids":[878,28,12],"id":912649,"original_language":"en","original_title":"Venom:
        The Last Dance","overview":"Eddie and Venom are on the run. Hunted by both
        of their worlds and with the net closing in, the duo are forced into a devastating
        decision that will bring the curtains down on Venom and Eddie''s last dance.","popularity":3523.453,"poster_path":"/aosm8NMQ3UyoBVpSxyimorCQykC.jpg","release_dat[...]
